# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.cache
*.log
*.vs/
.vs/

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
publish/

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/

# Local data (per-developer)
**/AppData/
**/.local/
*.db
*.db-journal
*.db-shm
*.db-wal

# Crash dumps
*.dmp

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
